/*header
{
  background-color: tomato;
}*/

/* .link (selector de clases) */
/* #portafolio (selector de id) */

/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127 
celeste= #026fff */

body {
  font-family: "Source Sans Pro", system-ui;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla one", system-ui;
  font-weight: normal;
  /*font-style: italic;*/
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
  max-width: 500px;
  /*text-transform: capitalize;
  text-decoration: dashed;*/
}
h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", system-ui;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  /* background-image: url("imagenes/hero.jpg"); */
  background-color: #1d252c;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 5px 5px 25px #222222 inset; */
  flex-wrap: wrap;
}

.hero_image {
  object-fit: cover;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-top-color: purple;
  border-top-width: 15px;
  border-top-style: solid; */
  /* border-top-left-radius: 50px; */
  border: 1px solid gray;
  /* margin: 10px; */
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project_course,
.project_date,
.project_url {
  margin: 10px 0;
}
.project_description {
  font-size: 20px;
}
.project strong {
  font-family: "Fjalla one", system-ui;
}
/* .project_date
{
  margin: 10px 0;
} */

.project_title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project_details {
  width: 50%;
}

.project_imageContainer {
  width: 50%;
}

.project_imageContainer img {
  max-width: 100%;
}

.header {
  background-color: #1d252c;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 1);
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  flex-shrink: 0;
  margin: 5px;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer i {
  color: white;
}

/* .footer div 
{
  margin: 0 5px;
} */

.event_list {
  display: flex;
  flex-wrap: wrap;
}
.event_list_title {
  margin-left: 20px;
}
.event {
  margin: 1%;
  width: 47%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
  /* justify-content: center; */
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event_detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event_description {
  text-align: left;
}

.event_url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #0063ff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social i {
  font-size: 50px;
  margin: 0 10px;
}

.social_link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social_link.twitter {
  background-image: url("/imagenes/twitter.svg");
}
.social_link.facebook {
  background-image: url("/imagenes/facebook.svg");
}
.social_link.instagram {
  background-image: url("/imagenes/instagram.svg");
}
.social_link.github {
  background-image: url("/imagenes/github.svg");
}

.form_email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("/imagenes/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form_email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-style: solid;
  border-radius: 5px;
  width: 190px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 10px auto 0; */
}

.form_email h3 {
  font-family: "Source Sans Pro", system-ui;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.html-video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.youtube_video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 3; */
}
.flexible_video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-color: #0063ff;
  position: relative;
}

.burger_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 5px;
  top: 5px;
  color: white;
  /* font-size: 50px; */
}

/* si empiezas por desktop first, empieza desde el media querie más grande */

/* @media screen and (min-width: 1025px)
{
  .container
  {
    max-width: 1500px;
  }
} */

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero_image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-position: 25% 25%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
  }
  .burger_button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .header .logo {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: rgba(5, 111, 255, 0.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }
  .project {
    display: block;
  }
  .project_imageContainer {
    width: auto;
    text-align: center;
  }
  .project_details {
    width: auto;
    font-size: 16px;
  }
  .project_course .project_date .project_url {
    margin: 0.4em 0;
  }
  .project_title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project_url {
    font-size: 1em;
  }
  .project_course {
    font-size: 0.7em;
  }
  .project_date {
    font-size: 1em;
  }
  .project_description {
    font-size: 0.8em;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
    object-position: 25% 25%;
  }
  .event_detail {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project_details {
    width: auto;
    font-size: 14px;
  }
  .contact {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
  }
  .form_email button {
    margin: 1em auto;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social {
    font-size: 2px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5);
  }
  .hero {
    padding: 2em 1em;
  }
}
